# 将所有的js语言在语言统计中标记为go语言
# *.js linguist-language=go

# 不统计改路径下的语言
public/static/js/vue/* -linguist-detectable
public/static/js/lib/**/* -linguist-detectable
public/static/js/admin/**/*.js linguist-language=vue
public/static/js/authorized/**/*.js linguist-language=vue