<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首页</title>
  </head>
  <body>
    <h1>首页</h1>
    <div>
      <a href="/authorized/list">已授权列表</a>
      <br />
      <a href="/admin/list">管理员用户列表</a>
    </div>
  </body>
</html>
