<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/views/static/favicon.ico" />
    <!-- <link rel="stylesheet" type="text/tailwindcss" href="/views/templates/admin/admin_login/admin_login.css" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/tailwindcss">
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer components {
        .login-field {
          @apply w-full inline-flex pt-2 pb-2 pl-[10px] pr-[10px] border-solid border-slate-100 border hover:border-green-600 focus:border-green-600 rounded;
        }
        .login-field-focused {
          @apply border-green-600 shadow-md shadow-green-200;
        }
      }
    </style>
    <script src="/views/static/js/lib/tailwind.min.js"></script>
    <title>登录</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="/views/static/js/lib/authorization/crypto-js.min.js"></script>
    <script type="module">
      import { createApp } from '/views/static/js/vue/vue3.esm-browser.js';
      import App from '/views/templates/admin/admin_login/app.js';

      createApp(App).mount('#app');
    </script>
  </body>
</html>
