.admin-login {
    margin: auto;
    text-align: center;
}

.admin-login-form {
    position: relative;
    margin: 0 auto;
    width: 600px;
    background-color: #c8c8c8;
    padding: 22px 12px;
    border-radius: 5px;
    margin-top: 50px;
}

.admin-login-form .admin-login-form__item {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.admin-login-form .admin-login-form__item label {
    width: 180px;
    text-align: right;
    padding-right: 16px;
}

.admin-login-form .admin-login-form__item input {
    height: 37px;
    line-height: 37px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 6px;
    width: 200px;
}
.admin-login-form .admin-login-form__item button {
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    border-color: #c8c8c8;
}

.admin-login-form .admin-login-form__item button:hover {
    border-color: #f7f7f7;
}